.row
  .col-md-8.col-md-offset-2
    .panel
      .panel-heading
        .panel-row
          .title
            %p
              This library is the core of your social media console.
          %div
            %p
              Start filling up this library with posts that you want your followers to see. You can get creative and carve your all-time best tweets or you can look at what posts have worked well in the past and copy them here so that new people can get to enjoy them.
            %p
              Octoforce will use this library to create a stream of content pulling posts one by one from your lists. Anything that is shared, is automatically added back to the end of the list so you never run out of things to say.
            %p
              So get started below by typing out your first post.
