---
http_interactions:
- request:
    method: get
    uri: http://api.bitly.com/v3/shorten?apiKey=R_b0b764f6c9754c0c152f570becb2f1c9&login=addictively&longUrl=http://justdoit.co/alkla?param=1231%26param2=something
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "long_url": "http:\/\/justdoit.co\/alkla?param=1231&param2=something", "url": "http:\/\/bit.ly\/1JrIIA0", "hash": "1JrIIA0", "global_hash": "1JrIIA1", "new_hash": 1 } }
  recorded_at: Mon, 31 Aug 2015 12:56:41 GMT
- request:
    method: get
    uri: http://api.bitly.com/v3/shorten?apiKey=R_b0b764f6c9754c0c152f570becb2f1c9&login=addictively&longUrl=http://www.something.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "long_url": "http:\/\/www.something.com\/", "url": "http:\/\/bit.ly\/1JrIk4u", "hash": "1JrIk4u", "global_hash": "1pNx62", "new_hash": 0 } }
  recorded_at: Mon, 31 Aug 2015 12:56:42 GMT
recorded_with: VCR 2.9.3
