- updates.each do |update|
  .scheduled-update.m20
    = render partial: 'analytics/update', locals: { update: update }
- if updates.count == count
  - p = {count: count, offset: offset}
  - p.merge!(filters || {}) if defined? filters
  .panel-row.text-center#load_more
    = link_to 'load more', analytics_path(p), class: 'btn btn-primary', data: { remote: true, disable_with: 'loading...' }
