.color-twitter { color: $color-twitter; }
.color-facebook { color: $color-facebook; }
.color-instagram { color: $color-instagram; }
.color-youtube { color: $color-youtube; }
.color-linkedin { color: $color-linkedin; }
.color-google-plus { color: $color-google-plus; }
.bg-twitter { background: $color-twitter; color: white; }
.bg-facebook { background: $color-facebook; color: white; }
.bg-instagram { background: $color-instagram; color: white; }
.bg-youtube { background: $color-youtube; color: white; }
.bg-linkedin { background: $color-linkedin; color: white; }
.bg-google-plus { background: $color-google-plus; color: white; }
