// --------------Grid------------------------------------------
//

// This is used by the devise generated views.
.center-panel {
  @extend .col-lg-6;
  @extend .col-lg-offset-3;

  @extend .col-md-6;
  @extend .col-md-offset-3;

  @extend .col-sm-8;
  @extend .col-sm-offset-2;
}

.m5 { margin-bottom: 5px; }
.m10 { margin-bottom: 10px; }
.m20 { margin-bottom: 20px; }
.m30 { margin-bottom: 30px; }
.m45 { margin-bottom: 45px; }
.m60 { margin-bottom: 60px; }
