.container
  .row
    .col-md-12
      %h1.page-title
        Your Social Media Schedules
      %h4.page-subtitle
        Choose when you want your updates to be sent. Octoforce will pull them from the selected category and send them out at the right time. And if you ever run out of updates, it will automatically reschedule your oldest ones. Now - get scheduling!
      %hr/
      = render partial: 'schedules/schedule', locals: { timeslots: @timeslots, identities: @identities }
