.container
  .row
    - if @identities.empty?
      %p.large
        = "You need to add a social network first:"

      = render partial: 'identities/add'

    - else
      .col-md-3
        .filter
          .title Filter by account
          %ul.lists
            = render partial: 'queue/identities', locals: { identities: @identities }

      .col-md-9
        .center_panel

          - @schedules.each do |schedule|
            = render partial: 'schedule', locals: { schedule: schedule }

