.container
  .row
    .center_panel
      %p= "You currently have #{@schedules.count} schedules"

      - @schedules.each do |schedule|
        = render partial: 'schedule', locals: { schedule: schedule }

