- posts.each do |post|
  .scheduled-update.m20{id: "post_#{post.id}"}
    = render partial: 'posts/post', locals: { post: post }

- if posts.size == count
  - p = {count: count, offset: offset}
  - p.merge!(filters || {}) if defined? filters
  .panel-row.text-center#load_more
    = link_to 'load more', library_path(p), class: 'btn btn-primary', data: { remote: true, disable_with: 'loading...' }
