.card.bordered
  .profile-image
    %img.rounded{src: "#{identity.image}"}
  .next-to-image
    %strong= identity.subname || identity.name
    .text-muted.small= identity.provider
    %small= link_to 'remove', identity_path(identity), method: :delete, data: { confirm: 'This will also remove the connected schedule. Are you sure you want to proceed?' }
