.container
  .row
    .col-md-10.col-md-offset-1
      %h1.page-title
        Social Media Accounts
      %h4.page-subtitle
        You currently have
        %strong
          = @identities.count
          accounts
        on Octoforce.
      %hr/
      .row
        - @identities.each do |identity|
          .col-md-4.col-sm-6.m20
            = render identity
      %hr/


      = render partial: 'add'
