.panel
  .panel-heading
    = calculate_local_time(day.to_time).strftime("%A %-d %B")
  .panel-body
    - updates.each do |update|
      .panel-row.update
        = render partial: 'updates/update', locals: { update: update }
