- cache ["v1", day, updates] do
  %p.large.m10{style: 'margin-left: 15px'}
    = raw calculate_local_time(day.to_time).strftime("%A <span class='text-muted'>%-d %B</span>")
  - updates.each do |update|
    .scheduled-update.m20
      = render partial: 'updates/update', locals: { update: update }
