.container
  .row
    .center_panel

      .panel.only
        .panel-heading
          = "Edit this post"

        .panel-body
          .panel-row
            = render partial: 'edit_form', locals: { post: @post, categories: current_user.categories }
