.container
  .row
    .col-md-12
      %h1.page-title
        Edit this Post
      %hr.m10/
      = render partial: 'posts/form', locals: { post: @post, categories: @categories, select_category: true, redirect: request.fullpath }
