.filter {
  .title {
    text-transform: uppercase;
    color: #AAA;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 4px;
    padding-top: 2px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 -5px;
    li a {
      /*padding: 8px;*/
      padding: 5px;
      /*background-color: #f0f0f0;*/
      @include border-radius(4px);
      cursor: pointer;
      display: block;
      &:hover {
        background-color: #f0f0f0;
        text-decoration: none;
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
  .amount {
    padding: 0px 8px;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    @include border-radius(3px);
  }
  .selected .amount {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: #fff;
  }
}
.social-profiles {
  .identity {
    margin-bottom: 2px;
    position: relative;
    img {
      @include border-radius(3px);
      float: left;
      width: 32px;
    }
    .name {
      margin-left: 8px;
      font-weight: 500;
      font-size: 14px;
      float: left;
      width: calc(100% - 80px);
    }
    .provider {
      margin-top: -2px;
      color: #757575;
      font-size: 11px;
      font-weight: 300;
    }
    .amount {
      position: absolute;
      right: 5px;
      top: 12px;
    }
  }
}
ul.categories {
  .category {
    position: relative;
    .color-code {
      background-color: #ccc;
      width: 12px;
      height: 12px;
      @include border-radius(12px);
      float: left;
      margin-top: 5px;
      margin-left: 10px;
    }
    .name {
      margin-left: 18px;
      float: left;
      width: calc(100% - 80px);
    }
    .amount {
      float: right;
      margin-top: 1px;
    }
  }
}
