.filter {
  .title {
    text-transform: uppercase;
    color: #757575;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    li a {
      padding: 8px;
      margin-bottom: 6px;
      background-color: #f0f0f0;
      @include border-radius(4px);
      cursor: pointer;
      display: block;
      &:hover {
        background-color: #fcfcfc;
        text-decoration: none;
      }
      &.selected {
        background-color: $brand-primary;
        color: white;
      }
    }
  }
  .amount {
    padding: 0px 8px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    @include border-radius(3px);
  }
}
.social-profiles {
  .identity {
    position: relative;
    img {
      @include border-radius(3px);
      position: absolute;
      width: 36px;
    }
    .name {
      margin-left: 44px;
      font-weight: 600;
    }
    .provider {
      margin-left: 44px;
      color: #757575;
      font-size: 13px;
    }
    .amount {
      position: absolute;
      right: 8px;
      top: 16px;
    }
  }
}
ul.categories {
  .category {
    position: relative;
    .color-code {
      background-color: #ccc;
      width: 12px;
      height: 12px;
      @include border-radius(12px);
      float: left;
      margin-top: 5px;
      margin-left: 12px;
    }
    .name {
      margin-left: 18px;
      display: inline-block;
    }
    .amount {
      float: right;
    }
  }
}
