$menu-color: #284161;
$bg-color: #f8f8f8;

.navbar-default {
  z-index: 2001;
  position: absolute;
  width: 220px;
  background-color: $menu-color;
  @include border-radius(0);
  font-size: 16px;
  font-weight: 500;
  min-height: 100%;
  border: none;
}

.navbar-header {
  float: none;
  .navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
  }
}
.navbar-collapse {
  padding: 0;
}

body {
  background: $menu-color;
}
.page-wrapper {
  margin: 0 0 0 220px;
  padding: 24px 0;
  background-color: $bg-color;
  min-height: 100%;
}

.nav {
  &.nav-tabs {
    border: none;
  }
  li {
    float: none;
    a {
      @include border-radius(0);
      border: none;
      color: #b6c0d4;
      line-height: 3rem;
      &:hover, &:focus {
        border: none;
        background: darken($menu-color, 5%);
      }
    }
    &.active a {
      @include border-radius(0);
      color: white;
      background: darken($menu-color, 5%);;
      border: none;
      &:hover, &:focus {
        color: white;
        border: none;
        background: darken($menu-color, 5%);
      }
    }
  }
}
