// --------------Panels------------------------------
// If you want to chnage the look of panels, you should
// go to http://getbootstrap.com/customize first and see
// if there is a built-in panel variables.
//
// If not, then modify the look or extend panels here.
//
//
// Example:
//
// .panel.inverted-panel {
//   background-color: $panel-inverse-bg;
//   color: $panel-inverse-color;
// }

.tweet {
  border: 1px solid #DDD;
  border-radius: 6px;
  margin-bottom: 10px;
  .social-networks {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
  }
  .body {
    padding: 8px 12px;
    position: relative;
  }
  .text {
    font-size: 16px;
    padding: 6px 0 24px;
  }
  .media {
    float: right;
  }
  .list {
    font-style: italic;
    position: absolute;
    bottom: 4px;
  }
  .timestamp {
    font-weight: 700;
    font-size: 12px;
  }
  .footer {
    border-top: 1px solid #DDD;
  }
  .time-ago {
    font-size: 12px;
    font-style: italic;
    float: right;
  }
}
