// --------------Panels------------------------------
// If you want to chnage the look of panels, you should
// go to http://getbootstrap.com/customize first and see
// if there is a built-in panel variables.
//
// If not, then modify the look or extend panels here.
//
//
// Example:
//
// .panel.inverted-panel {
//   background-color: $panel-inverse-bg;
//   color: $panel-inverse-color;
// }

body,html {
  height: 100%;
}
.panel .panel-body.padded {
  padding: 15px;
}

.panel {
  @include border-radius(0);
  border: none;
  .panel-heading {
    border-top: 4px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    color: #757575;
    position: relative;
    @include border-radius(0);
    .title {
      font-size: 18px;

    }
    .subtitle {
      margin-top: 5px;
      font-size: 15px;
    }
    .actions {
      float: right;
    }
  }
  .panel-body {
    padding: 0;
    .panel-row {
      padding: 15px;
      border-bottom: 1px solid #f0f0f0;
      &:last-child {
        border-bottom: none;
      }
    }
    .profile-image {
      float: left;
      max-width: 54px;
      position: relative;
      &.rounded { @include border-radius(3px); }
      i.fa {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 3px;
        color: white;
        text-shadow: 0 0 2px rgba(0,0,0,.4);
        @include border-radius(3px);
      }
    }
    .next-to-image {
      margin-left: 62px;
    }
    .subtle {
      font-size: 95%;
      color: #555;
    }
    .body {
      position: relative;
    }
    .bottom {
      position: absolute;
      bottom: 0;
    }
    .category {
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      color: #555;
      background-color: #f8f8f8;
      position: relative;
      .name {
        border: 1px solid #ccc;
        border-left: none;
        padding: 1px 5px 1px 13px;
        @include border-right-radius(3px);
      }
      .color-code {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 8px;
        background-color: #aaa;
        border: 1px solid rgba(0,0,0,.2);
        border-right: none;
        @include border-left-radius(3px)
      }
    }
    .update {
      .profile {
        position: absolute;
        img {
          @include border-radius(3px);
        }
        i.fa {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 3px;
          color: white;
          text-shadow: 0 0 2px rgba(0,0,0,.4);
          @include border-radius(3px);
          &.twitter {
            background-color: #55acee;
          }
        }
      }
      .category {
        position: absolute;
        bottom: 0;
      }
        .account {
          font-weight: 600;
          font-size: 105%;
          line-height: 28px;
          .subtle {
            font-weight: 500;
            color: #555;
          }
        }
        .timestamp {
          color: #555;
          font-size: 13px;
        }
        .account, .timestamp {
          margin-left: 60px;
        }
        .time-ago {
          float: right;
          color: #555;
          font-style: italic;
          line-height: 28px;
        }
        .text {
          font-size: 1.8rem;
        }
    }
  }
}

.tweet {
  border: 1px solid #DDD;
  border-radius: 6px;
  margin-bottom: 10px;
  .social-networks {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
  }
  .body {
    padding: 8px 12px;
    position: relative;
  }
  .text {
    font-size: 16px;
    padding: 6px 0 24px;
  }
  .media {
    float: right;
  }
  .category {
    font-style: italic;
    position: absolute;
    bottom: 4px;
  }
  .footer {
    border-top: 1px solid #DDD;
    font-size: 12px;
  }
  .timestamp {
    font-weight: 700;
  }
  .time-ago {
    font-style: italic;
    float: right;
  }
}
.panel-devise {
  @include border-radius(6px);
  .panel-heading {
    border: none;
    @include border-top-radius(6px);
    .brand {
      color: #284161;
      font-size: 36px;
      font-weight: 700;
      margin: 10px 0 0;
      text-align: center;
      width: 100%;
      display: inline-block;
    }
  }
  .panel-body {
    padding: 15px;
  }
}
