- content_for :step_info do
  .tips-header.bg-info
    .container
      .row
        .col-md-12
          .dialog{style: 'margin-bottom: 0'}
            .progress
              .progress-bar.progress-bar-success.progress-bar-striped{style: 'width: 67%;', role: 'progressbar', aria: { valuenow: 67, min: 0, max: 100}}
                step 4 of 6
            %h1
              %strong Step 4:
              = t 'onboarding.step4.title'
            .actions.pull-right
            .description
              %p
                Below you can see your queue. This is a complete overview of all the posts Octoforce has scheduled to go out in the next 2 weeks.
              %p
                If you have only created 1 post in step 2, you may see it show up multiple times. That's because we believe in rescheduling your content. Adding more content to the same category will make sure you don't repeat yourself too often.
              %p
                The next step introduces 2 new possibilities that make it easier and faster to add content in bulk.
            .bottom
              .pull-right
                = link_to welcome_step5_path, class: 'btn btn-primary btn-lg' do
                  Go to Step 5:
                  = t 'onboarding.step5.title'
                  %i.fa.fa-angle-right
              %p
                Show me those new moves!
              .clearfix

.container
  = render partial: 'queue/queue', locals: { updates: @updates, categories: @categories, identities: @identities }
